/work
alu.v.bak
alu_tb.v.bak
manoBasicComputer.cr.mti
manoBasicComputer.mpf
vsim.wlf
vish_stacktrace.vstf

memory.v.bak
memory_tb.v.bak

wlft1y0czi
wlft3gh5w6
wlft4t2gwc
wlft50vc8j
wlft328ct5
wlftb9qzwe
wlftc58j0y
wlftd8bsn5
wlftn4dwzj
wlftrz1h47
wlftw80ckq
wlftwfiviq
wlfty3awk5
wlftzyxrqd

DFF_tb.v.bak
wlftaftbvn
wlftb7mb76
wlftdvvbkj
wlftmdtk5d